@import url("https://fonts.googleapis.com/css2/family=Patrick+Hand&display=Swap");
*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Partick Hand", cursive;
  scroll-behavior: smooth;
}
section {
  height: 100vh;
}
.container {
  width: 100%;
  height: 100%;
  background-color: blueviolet;
  background:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(assets/gedung-unpak.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.red {
  background-color: crimson;
  width: 100%;
  height: 100%;
}
.blue {
  background-color: slateblue;
}
h1 {
  text-align: center;
  font-size: 5em;
  color: white;
}
.navwrapper {
  width: 100%;
  height: 80px;
  background-color: crimson;
  position: fixed;
  top: 0;
  left: 0;
}
.contentwrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.navigation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}
.nav {
  list-style-type: none;
  padding: 20px;
  margin: 5px;
  cursor: pointer;
}
.nav:hover {
  background-color: antiquewhite;
  border-radius: 10px;
  transition: all ease-in-out 0.2s;
}
.nav:hover > a {
  color: black;
}
.navlink {
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  text-decoration: none;
}
.top {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 75px;
  height: 75px;
  background-color: wheat;
  border-radius: 15px;
  cursor: pointer;
}
.contents-profile {
  display: flex;
  flex-direction: row;
}
.profile {
  height: auto;
  width: auto;
  background-color: #26499a;
}
.pict-profile {
  border-radius: 50%;
  width: 500px;
  height: 500px;
  border: 15px solid #ffd40d;
  margin: 150px 100px 70px 150px;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: top 0.3s ease-out;
  cursor: pointer;
}
.pict-profile img:hover {
  transform: translateX(-5px);
}
.info-cv h2 {
  font-size: 46px;
  margin-top: 175px;
  margin-bottom: 42px;
}
.info-cv p {
  padding-top: 3px;
  font-size: 21px;
}
.info-cv h2,
p {
  width: 600px;
  text-align: center;
  color: white;
}
.btn-cv {
  text-align: center;
  margin-top: 45px;
}
.btn-cv :hover {
  transform: translateY(-5px);
}
.btn-cv input {
  background-color: #ffd40d;
  width: 266px;
  height: 60px;
  color: #254a99;
  font-size: 26px;
  font-family: "Roboto slab";
  border-radius: 52px;
  font-weight: bold;
  border: none;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.3s;
}
.btn-cv input:hover {
  opacity: 1;
}
.socmed {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.socmed :hover {
  transform: translateY(-5px);
}
.socmed img {
  padding-left: 40px;
  padding-right: 40px;
}
